<h1 class="home_title">Welcome to</h1>
<div class="home_center_items">
  <img src="assets/images/wyeworks.png" alt="" class="wyeworks_home_icon" >
  <h1 class="home_title">ye RetroApp!</h1>
</div>
<div class="home_center_items">
  {{#link-to "sign-up" class="button_app home"}}
    Sign up
  {{/link-to}}
</div>
<img src="assets/images/rails.png" alt="" class="languages_icon" >
<img src="assets/images/ember.png" alt="" class="languages_icon ember" >
