/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 */

.main {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hidden {
  display: none;
}

.button_app {
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #D2D2D2;
  background-color: #6E6E6E;
  padding: 12px 40px;
  border-radius: 12px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
  font-size: 20px;

  &:hover {
    background-color: #D2D2D2;
    color: #6E6E6E;
  }

  &.center {
    position: absolute;
    margin: auto;
    top: 50%;
    left: 50%;
    margin-left: -114px;
    margin-top: -7px;
  }

  &.top_navigation {
    color: #6E6E6E;
    background-color: #D2D2D2;
    padding: 5px 20px;
    border-radius: 12px;
    font-size: 15px;

    &:hover {
      background-color: #FE9191;
    }

    &.sorting_phase {
      background-color: #60DF86;
      margin-left: 20px;

      &:hover {
        background-color: #6EF997;
      }
    }
  }
}
