// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.logo_landing {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  width: 300px;
}

.title_landing {
  text-align: center;
  font-size: 60px;
  margin-top: 0;
  text-shadow: 3px 2px #D2D2D2;
}
