.modal {
  display: block;

  &__content {
    margin: auto;
    border: 1.5px solid #888;
    width: 65%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
  }

  &__header {
    padding: 2px 5px;
    background-color: #888;
  }

  &__title {
    font-size: 20px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 5px;
  }

  &__body {
    padding: 2px 16px;
  }

  &__close {
    cursor: pointer;
    font-size: 25px;
    margin-left: 95%;
  }
}
