.timer {
  background-color: #D2D2D2;
  padding: 5px 20px;
  border-radius: 12px;
  color: #2AB667;
  font-size: 20px;
  font-weight: bold;

  &.last_minutes {
    color: #FF0000;
  }
} 

.posting_phase {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  margin: auto;
  justify-content: space-evenly;

  &.hide {
    display: none;
  }
}

.posting_phase__section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.posting_phase__title {
  font-size: 20px;

  &.mention {
    font-weight: normal;
    font-style: italic;
  }
}

.posting_phase__box {
  width: 400px;
  height: 400px;
  border-style: solid;
  border-width: 2px;
}
