<div class='landing_page'>
  <%= image_tag('wye-logo.png') %>
  <h1>Welcome to Wye RetroApp!</h1>
  <%= button_to 'Start', retrospectives_path, :method => 'get',
           :class => 'button' %>
</div>
