<% content_for :add_scripts do %>
  <%= javascript_include_tag 'timer' %>
<% end %>

<% content_for :add_to_header do %>
  <div id='button_timer'>
    <%= button_to 'Post your topics!', new_retrospective_path, method: 'get', class: 'button_app top_navigation', remote: true %>
  </div>
<% end %>

<div id='posting', class='posting_phase hide'>
  <div class='posting_phase__section'>
    <h1 class='posting-phase__title mention'>To mention</h1>
    <div class='posting_phase__box'></div>
  </div>
  <div class='posting_phase__section'>
    <h1 class='posting-phase__title'>To discuss</h1>
    <div class='posting_phase__box'></div>
  </div>
</div>
