<% content_for :add_scripts do %>
  <%= javascript_include_tag 'timer' %>
<% end %>
<% content_for :add_to_header do %>
  <div class='retrospectives_new'>
    <div id='button_timer'>
      <%= button_to 'Post your topics!', new_retrospective_path, method: 'get', class: 'button', remote: true %>
    </div>
  </div>
<% end %>

