<% content_for :add_scripts do %>
  <%= javascript_include_tag 'timer' %>
<% end %>

<% content_for :add_to_header do %>
  <div id='button_timer'>
    <%= button_to 'Post your topics!', new_retrospective_path, method: 'get', class: 'button_app top_navigation', remote: true %>
  </div>
  <%= button_to 'Sort & Discuss!', new_retrospective_path, method: 'get', id: 'sorting_button', class: 'button_app top_navigation sorting_phase hide', remote: true %>
<% end %>

<div id='posting', class='posting_phase hide'></div>

<div id='discussion', class='action_plans hide'></div>
